@charset "UTF-8";
@font-face {
    font-family: nova;
    src: url(../fonts/METAFORA-Bold.otf);
}
*{
    padding: 0;
    margin: 0;
    font-family: nova, Arial, Helvetica, sans-serif;
    font-style: italic;
}

.clear{
    clear: both;
}

        /*Header*/
header{
    height: 120px;
}
header #divlogo{
    margin: 20px 60px;
    float: left;
}
header nav{
    float: right;
    margin: 50px 100px 0 0;
}
header nav ul li{
    display: inline-block;
    font-size: 28px;
    margin-left: 60px;
}
header nav ul li a{
    text-decoration: none;
    color: black;
}


    /*Painel*/

#fundo{
    background-color: black;
    height: calc(100vh - 120px);
    background-image: url(../imagens/bg.jpg);
    background-position: bottom right;
    background-repeat: no-repeat;
}
#fundo > div{
    background-image: url(../imagens/box-text.png);
    background-repeat: no-repeat;
    background-size: 500px;
    
}

